Repository cryostatio/cryostat-reports, pull requests merged in 2022-06, with the labels that each got.

#35 feat(reports): API requests can specify filtered rules and topics for evaluation
  README.md
  pom.xml
  src/main/java/io/cryostat/reports/RecordingFormData.java
  src/main/java/io/cryostat/reports/ReportResource.java
  src/test/java/io/cryostat/ReportResourceTest.java
Labels: enhancement, feat

#36 build(oci): transform image tag to lower case
  .github/workflows/ci.yaml
  pom.xml
Labels: build, ci, backport

#38 chore(pom): update to JDK17
  .github/workflows/ci.yaml
  .mvn/jvm.config
  README.md
  pom.xml
  src/main/docker/Dockerfile.legacy-jar
Labels: chore, dependencies

#39 chore(pom): remove spotless JDK modules workaround
  .mvn/jvm.config
  pom.xml
Labels: chore, build

#41 ci(jdk): build-deps with JDK17
  .github/workflows/ci.yaml
  pom.xml
Labels: build, ci, dependencies

#40 feat(reports): added jsonability to /report
  pom.xml
  src/main/java/io/cryostat/reports/ReportResource.java
  src/test/java/io/cryostat/ReportResourceTest.java
Labels: feat
